:root {
    --primary-color: #EBB974;
    --secondary-color: #806139;
    --third-color: #FFF5D5;
    --logo-color:#FF9100;
    --logo-stroke-color:#CCE7B5;

    --word-about-color:#473620;
    --half-white-color:#ffffff80;
    --dark-grey-color:#414141;
    --light-grey-color:#F3F3F3;

    --font-size: 16px;
}







