*{
    box-sizing: border-box;
    position: relative;
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
    list-style: none;
    text-decoration: none; 
    
}

html  {
    background-color: var(--third-color);
    color: var(--secondary-color);

}
img  { width: 100%;}



/* 區塊分類 */

.bgContainer{
    position: absolute;
    top: 50px;
    overflow: hidden;
    width: 100%;
    height: 2000px;
}

.active{
    font-size: 26px;
    transition: all 0.5s ease;
}

.shadow{
    box-shadow: 4px 4px 2px rgb(0, 0, 0, 0.25);
}


@media screen and (min-width: 375px) {
    nav{
        display: none;
    }
    
    .flex{ display: block; }

    /* html{font-size: 26px;} */


    /* 區塊分類 */
    .bg{
        width: 2000px;
        height: 900px;
        top: 300px;
        left: -300px;

        position: absolute;
        background-color: #EBB974;
        transform: rotate(-12deg);
        /* animation: opacityBG 5s infinite both; */
    }
/* 
    @keyframes opacityBG{
        0%{ transform: rotate(-12deg) }
        50%{ transform: rotate(12deg) }
        100%{ transform: rotate(-12deg)  }
    } */

    .bg2{
        width: 100%;
        height: 500px;
        position: absolute;
        bottom: 0px;
        background-color: #EBB974;
    }

    .headerContainer{
        background-color: var(--third-color);
    }

    header{
        width: 100%;
        height: 100px;
        line-height: 100px;
        text-align: center;
        position: fixed;
        z-index: 5;
    }

    .container{
        width: 95%;
        /* border: 1px solid black; */
        margin: 0 auto;
        padding-top:100px ;
        overflow: hidden;
    }

    
    /* header */
    #logo{
        font-size: 48px;
        font-weight: bold;
        color: var(--logo-color);
        -webkit-text-stroke: 1.5px var(--logo-stroke-color);
        height: 100px;
    }

    .hidden{
        display: none;
    }

    nav{
        display: flex;
        flex-direction: column;
    }

    nav >a{
        display: inline-block; /* 使用行內塊 */
        width: 100%;
        line-height: 3; /* 與文字高度相等 */
        color: var(--secondary-color);

    }
    

    #nav5{
        width: 50%;
        padding: 10px 0;
        background-color: var(--third-color);
        filter: brightness(1.1);
        border: 1px solid var(--secondary-color);
        border-radius: 10px;
        text-align: center;
        margin: 10% auto;
    }
    
    /* about */

    #about{
        width: 95%;
        margin: 20px auto 100px auto;
        padding: 8px;

        display: flex;
        background-image: url(../img/bento.jpg);
        filter: brightness(1.1);
        background-size: cover;
    }   

    .tips{
        width: 120px;
        height: 80px;
        margin: 8px 8px 8px 0;
        line-height: 80px;

        font-weight: 700;
        font-size: 16px;
        color: var(--word-about-color);
        text-align: center;
        
        border: 0.25px solid black;
        filter: brightness(1.1);
        background-image: url(../img/bento.jpg);
        background-size: cover;
        overflow: hidden;
    }

    .tips-4{
        margin-bottom: 0;   
        height: 110px;
        line-height: 16px;
    }

    #person{
        width: 100%;
        height: 375px;
        border: 0.25px solid black;
        
        background-size: cover;
        background-position: top;
        overflow: hidden;
        background-image: url(../img/about.jpg);
    }

        
    /* skill */
    #skill{
        width: 100%;
        height: 610px;
        margin-bottom: 150px;
        padding-top: 30px;
    }

    .left{
        margin-left: 10%;
    }

    .right{
        float: right;
        margin-right: 10%;
    }

    .right > .paper{
        margin: 30px 0;
    }
    .paper{
        width: 250px;
        height: 280px;
        background-color: #ffffff;
        text-align: center;
        padding: 5px;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);

    }

    .paper > h2{ margin: 10% 0;}

    .paper >p{
        margin: 15px;
    }

    /* work */

    #works{
        padding-top: 20px;
        margin-bottom: 150px;
        padding: 30px 10%;
    }
    
    .card{
        margin: 20px;
        margin: 0 auto;
        padding: 30px 0;
        right: 0;
        transition: all 0.3s linear;
    }

    .imgInCard{
        width: 100%;
        height: 255px;
        /* margin: 0 auto; */
        border-radius: 140px;
        background-image: url(../img/野餐墊.jpg);
        background-size: cover;
        overflow: hidden;
        border: 12px solid var(--secondary-color);
    }

    .detail{
        margin-top: 20px;  
        animation: detailFloat 10s infinite linear;
    }

    @keyframes detailFloat{
         0%{transform: translate(3% ,0%);}
        20%{transform: translate(-5% ,-10%);}
        40%{transform: translate(2% ,3%);}
        75%{transform: translate(-5% , 7%);}
        100%{transform: translate(2% , 0);}
    }




    .title{
        font-size: larger;
    }

    .tagDiv{

        display: flex;
        flex-wrap: wrap;
    }

    .tag{
        padding: 10px 15px;
        margin: 5px 10px 5px 0;
        background-color: #ffffff;
    }


/* footer */

footer{
    height: 450px;
    margin: 40px 5% 0 5% ;
    overflow: hidden;
    align-items:end;
    font-size: 22px;
}

.footer-L{
    margin-top: 13%;
    width: 100%;
    color: var(--third-color)
}
.footer-R{
    margin-top: 80%;
    width: 100%;
    color: var(--primary-color);
    text-align: center;
    
}

/* bento */

.cho{ 
    background-color:#806139 ;
    width: 300px;
    height: 8px;
    position: absolute;
    border-radius: 3px;

}

.cho1{
    transform: rotate(37deg);
    /* border: 1px solid black; */
    right: 15%;
    top:207px;
}
.cho2{
    transform: rotate(28deg);
    right: 2%;
    top:195px;
}

.bentoBG{
    background-color: var(--third-color);
    position: absolute;
    bottom: 0px;
    left: 5%;
    transform: rotate(-12deg);
    width: 300px;
    height: 200px;
}













}

@media screen and (min-width: 760px) {}
@media screen and (min-width: 900px) {
    nav{
        display: block;
    }
    
    .hidden{
        width: 100%;
        display: block !important ;
        line-height: 3;

    }
    .bg{
        height: 1400px;
    }

    .bg2{
        width: 100%;
        height: 550px;
        position: absolute;
        bottom: 0px;
        background-color: #EBB974;
    }
    
    .headerContainer{
        background-color: #00000000;
    }
    /* .hidden{
        width: 110%;
        display: block;
    } */
    header{
        width: 20%;
        margin-left: 8%;
        top: 35px;
        text-align: left;
        background-color: transparent;

    }
    
    .container{
        width: 100%;
        margin-top : 100px;
        padding-top:0; ;

    }

    #logo{
        margin-bottom: 10px;
    }


    nav {
        display: block;

    }

    nav > a:hover {
        transition: all 0.3s linear;
        z-index: 3;
    }

    nav a:hover::before{ 
        content: '';
        width: 50px;
        height: 50px;
        background-color: var(--logo-color);
        opacity: 0.5;
        position: absolute;
        top: 50%; /* 垂直居中 */
        left: 30%; /* 水平居中 */
        transform: translate(-100%,-50%) rotate(45deg); 
        z-index: -1;
    }

    nav a:hover::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        /* background-color: #FFF5D5; */
        /* background-color: rgba(0, 0, 0, 0.1); 背景的顏色和透明度 */
        top: 0;
        left: 0;
        z-index: -1; /* 位於最底層 */
    }

    #nav5{
        margin: 10% auto;
        width: 100%;
        animation: 
            fadeGradient 1s infinite,
            positionX 3s infinite; /* 動畫持續 5 秒，無限循環 */
   
    }
    @keyframes positionX{
        0%{ transform: translateX(0%);}
        50%{ transform: translateX(3%);}
        100%{ transform: translateX(0%);}
    }



    /* about */
    #about{
        width: 50%;
        margin: 0px -20px 120px -20px;
        margin-left: 40%;
        padding: 16px 16px 0 0;
    }

    .tips{
        width: 150px;
        height: 103px;
        margin: 16px;
        line-height: 103px;
    }

    .tips-4{
        height: 143px;
        line-height: 25px;
    }

    #person{
        width: 500px;
        height: 500px;
    }

    /* skill */
    #skill{
    width: 100%;
    margin-bottom: 550px;
    padding-top: 30px;
    display: flex;
    }

    .left{
        width: 65%;
        margin-left: 0;
        margin-right: 50px;
    }
    
    .left > .paper{
        float: right;    
        margin-top: 50px;
    }
    .right{
        width: 35%;
        margin-right: 0%;

    }
    
    .right > .paper{
        margin-top: 0;
        margin-bottom: 50px;
    }
    .paper{
        width: 300px;
        height: 450px;
        background-color: #ffffff;
        text-align: center;
        padding: 10px;

        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        transition: box-shadow 0.1s ease;
    }
    
    .paper > h2{ margin: 25% 0;}
    
    .paper >p{
        margin: 25px;
    }
    
    .blank{
        display: block;
        width: 100%;
        height: 60%;
        background-color: var(--third-color)
    }

    


    /* work */

    #works{
        padding-top: 20px;
        margin-bottom: 150px;
        padding: 30px 0;
        
    }
    
    .card{
        margin: 20px;
        margin-left: 47%;
        padding: 30px 10%;
    }

    .imgInCard{
        width: 435px;
        height: 300px;
        margin: 0 auto;
        border-radius: 147px;
        /* border-radius: 0; */
    }

    .detail{
        position: relative;
        left: -280px;
        top: -116px;
        width: 300px;
    }




    /* footer */

footer{
    display: flex;
    height: 400px;
    margin: 0 0 0 8%;
    padding:70px 0px;
    font-size: 16px;
}

.footer-L{
    width: 45%;
    color: var(--third-color);
}
.footer-R{
    width: 55%;
    margin-top: 0;
    text-align: left;
    color: var(--primary-color);
}

/* bento */

.cho{ 
    background-color:#806139 ;
    width: 500px;
    height: 12px;
    position: absolute;
    border-radius: 3px;

}

.cho1{
    transform: rotate(37deg);
    /* border: 1px solid black; */
    right: 24%;
    top:160px;
}
.cho2{
    transform: rotate(28deg);
    right: 14%;
    top:180px;
}

.bentoBG{
    background-color: #FFF5D5;
    position: absolute;
    bottom: 0px;
    left: 35%;
    transform: rotate(-12deg);
    width: 500px;
    height: 300px;
}

}
@media screen and (min-width: 1200px) {}
